.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: auto;
  width: 60px;
  height: 60px;
  background-color: var(--background);
}

.container.inBoard {
  width: 120px;
  height: 120px;
  padding: 10%;
  cursor: pointer;
}

.X.inBoard {
  padding-top: 50px;
}

.empty {
  display: none;
}

.O {
  width: 85%;
  height: 85%;
  margin: auto;
  position: relative;
  border-radius: 200px;
  background-color: var(--secondary);
}

.O:before {
  content: '';
  width: 70%;
  height: 70%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 200px;
  background-color: var(--background);
}

.X {
  width: 100%;
  height: 100%;
  padding-top: 35px;
}

.X::before,
.X::after {
  content: '';
  display: block;
  margin-top: -10px;
  width: 100%;
  height: 10px;
  background: var(--primary);
  border-radius: 8px;
}

.X::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.X::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.X,
.O {
  animation: showup 0.2s ease;
}

@keyframes showup {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

@media screen and (max-width: 450px) {
  .container.inBoard {
    width: 70px;
    height: 70px;
    padding: 0px;
  }

  .X.inBoard {
    width: 60px;
    height: 60px;
    padding-top: 35px;
    margin: auto;
  }

  .O.inBoard {
    width: 50px;
    height: 50px;
  }
}
