.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 30px 0;
  width: 90%;
  max-width: 1400px;
  margin: 40px auto 40px;
  height: calc(100vh-40px);
}

@media screen and (max-width: 700px) {
  .container p {
    text-align: center;
  }
}
